@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

 
* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.container::before, .container::after {
	content: " ";
	display: table;
	}
	
.container::after {
	clear: both;
	}

h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
	margin:0;
	padding-bottom: 4px;
	text-align: center;
}

h3 {
	font-size: 14px;
	color: #aeaeae;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	text-align: center;	
}

h4 {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
}

.default_p14 {
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	margin: 0;
	padding: 0;
	} 

.default_btn {
	width: 194px;
	height: 45px;
	background-color: #b88b58;
	border-radius: 25px;
	border: none;
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.round_btn {
	width: 65px;
	height: 65px;
	box-shadow: 0 3px 8px rgba(0, 0, 1, 0.24);
	background-color: #b88b58;
	border-radius: 50%;
	border: none;
	background-repeat: no-repeat;
	cursor: pointer;
}

.dots {
	line-height: 14px;
	text-align: center;
}

.dot {
    height: 14px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    border: solid 3px #b88b58;
    margin: 0 5px;
}

.dots .dot:first-child {
	background-color: #b88b58;
	margin-left: 0;
}

.dots .dot:last-child {
	margin-right: 0;
}

.dot:hover {
    background-color: #b88b58;
}

/* ------GRID------ */	
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* ---- HOME ---- */


#home {
	height: 850px;
	padding-bottom: 42px;
	background-image: url(../images/Home/home-img.jpg);
    background-position: center top;
    background-size: cover;
    text-transform: uppercase;
    color: #ffffff;
}

.navigation{
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	background-image: url(../images/Home/logo.png);
	width: 50px;
	height: 51px;
	margin-top: 24.5px;
	margin-bottom: 24.5px;
}

.menu {
	list-style-type: none;
	margin: 0;
	margin-left: 4%;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.menu a {
	padding: 40.5px 7.5px 35.5px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	line-height: 18px;
	border-bottom: 5px solid #000000;
}

.menu a:hover {
	border-color: #b88b58;
}

.jumboTextHeader {
	display: block;
	margin-top: 246px;
	margin-bottom: 29px;
	font-size: 72px;
	font-weight: 700;
	text-align: center; 
	line-height: 69px;
}

.jumboTextHeader span {
	color: #b88b58;
}

.jumboTextCall {
	display: block;
	margin: 0; 
	margin-bottom: 49px;
	font-size: 24px;
	font-weight: 600;
	line-height: 18px;
	text-align: center;
}

.getIn {
	display: block;
	margin: 0 auto;
}

.telephone {
	position: absolute;
	top: 819px;
	right: 85px;
	background-image: url(../images/Home/telephone.png);
	background-position: 12px 12px;
}

#home .dots {
	position: absolute;
	top: 794px;
	margin-left: calc(50% - (73.41px / 2));
}


/* ---- ABOUT US ---- */


#aboutUs {
	background-color: #f7f7f7;
	padding-top: 60px;
	padding-bottom: 92px;
}

.aboutUsContent {
	display: flex;
	justify-content: space-between;
	margin-top: 42px;
	padding-left: 15px;
	padding-right: 15px;
}

.aboutUsText {
	padding-bottom: 52px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.aboutUsText p {
	color: #242424;
}

.aboutUs_img {
	width: 445px;
	height: 275px;
	box-shadow: 0 13px 24px rgba(0, 0, 1, 0.42);
}


/* ---- SERVICES ---- */


#services {
	background-color: #000000;
	padding-top: 60px;
	padding-bottom: 43px;
}

.services h2 {
	color: #ffffff;
}

.servicesContent {
	margin-top: 42px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	list-style-type: none;
	padding: 0;
}

.servicesContentItem {
	border-right: 2px solid #383838;
	padding-top: 9px;
	padding-bottom: 18px;
} 

.servicesContent li:first-child {
	border-left: 2px solid #383838;
}

.servicesImg {
	width: 65px;
	height: 65px;
	display: inline-block;
}

.highQualityDesign {
	background-image: url(../images/Services/high_quality_design.png);
	background-repeat: no-repeat;
	background-position: 3px 3.5px;
}

.modernDesign {
	background-image: url(../images/Services/modern_design.png);
	background-repeat: no-repeat;
}

.regularUpdates {
	background-image: url(../images/Services/regular_updates.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
}

.support {
	background-image: url(../images/Services/support.png);
	background-repeat: no-repeat;
	background-position: 3.5px 3.5px;
}

.servicesContent h4 {
	padding-top: 38px;
}

.servicesContent p {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
	color: #7e7e7e;
}

/* ---- OUR PROJECTS ---- */

#ourProjects {
	background-color: #f7f7f7;
	padding-top: 60px;
	padding-bottom: 56px;
}

.ourProjects {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 46px;
}

.ourProjectsMenu {
	margin: 0 25px 23px;
	padding: 3px 22px;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	list-style-type: none;
	border: 1px solid #cfcfcf;
	border-radius: 30px;
	background-color: #ededed;
}

.ourProjectsMenuItem {
	line-height: 48px;
	border-left: 1px solid #cfcfcf;
	display: flex;
	align-items: center;
}

.ourProjectsMenu li:first-child {
	border-left: none;
}

.ourProjectsMenu a {
	padding-left: 21px;
	padding-right: 21px;
	margin: 0 2px -3px;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	border-bottom: 5px solid #ededed;
}

.ourProjectsMenuItem a:hover {
	border-bottom: 5px solid #b88b58;
}

.ourProjectsGallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 15px;
	padding: 0;
	list-style-type: none;
}

.ourProjectsGalleryItem {
	width: 255px;
	height: 165px;
	margin: 15px;
	position: relative;
}

.layer, .ourProjectsGalleryItem img {
	position: absolute;
}

.ourProjectsGalleryItem .layer {
	width: 100%;
	height: 100%;
	padding: 44px 40px 55px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
	cursor: pointer;
}

.layer h4 {
	font-weight: 400;
}

.layer p {
	font-size: 12px;
	line-height: 21px;
}

.ourProjectsGalleryItem:hover .layer{
	visibility: visible;
	opacity: 0.75;
}


/* ---- OUR TEAM ---- */


#ourTeam {
	background-image: url(../images/Our_Team/bg-image-our-team.jpg);
	background-position: center top;
    background-size: cover;
    padding-top: 63px;
    padding-bottom: 43px;
}

.ourTeamBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 21px 0;
}

.ourTeamItem {
	margin: 15px;
	padding: 48px 42px 43px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 5px;
	color: #242424;
}

.ourTeamItem img {
	width: 183px;
	height: 183px;
}

.ourTeamItem h4 {
	color: #242424;
	font-size: 21px;
	line-height: 21px;
	margin: 38px 0 6px;
}

.socialIcons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.social_btn {
	width: 33px;
	height: 33px;
	background-color: #bebebe;
	border-radius: 25px;
	border: none;
	margin: 0 3px;
	padding: 0;
	cursor: pointer;
	color: #ffffff;
}

.social_btn:hover {
	background-color: #b88b58;
}

.ourTeam .dots {
	margin: 0 auto;
}


/* ---- OUR CLIENTS ---- */

#happyClients {
	background-color: #f7f7f7;
}

.happyClients {
	text-align: center;
	color: #000000;
}

.happyClientsImage {
	margin-top: 67px;
}

.happyClients h4 {	
	font-size: 24px;
	font-weight: 700;
	line-height: 18px;
	margin: 24px 0 14px 0;
}

.happyClients h5 {
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
	margin-bottom: 29px;
}

.happyClients p {
	color: #7e7e7e;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	margin-top: 8px; 
	margin-left: calc(50% - (728px / 2));
	margin-right: calc(50% - (728px / 2));
	margin-bottom: 45px;
}

.happyClients .dots {
	margin-bottom: 42px;
}

#clients {
	background-color: #ffffff;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.clientsLogos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 42px;
	margin-top: 34px;
}

.clientsLogos img {
	margin-top: 10px;
	margin-bottom: 10px;
}

.clientsLogos:first-child {
	margin-left: 53px;
}

.clientsLogos:last-child {
	margin-right: 50px;
}

/* ---- PRICE ---- */

#price {
	background-color: #ededed;
}

.price h2 {
	padding-top: 58px;
}

.priceBox {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 37px;
	margin-bottom: 61px;
}

.priceItem {
	margin: 0 15px;
	padding: 0;
	background-color: #ffffff;
	border-radius: 5px;
}

.priceItem h4 {
	margin: 0;
	margin-top: 30px;
	color: #242424;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
}

.priceItem h5 {
	color: #242424;
	font-size: 30px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	letter-spacing: 4.8px;
	margin: 0;
	margin-top: 13px;
}

.priceItem h6 {
	color: #aeaeae;
	font-size: 10px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin: 0;
}

.priceItem p {
	color: #7e7e7e;
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;
	margin: 0;
	margin-top: 13px;
}

.choose_btn {
	width: 129px;
	background-color: #373737;
	margin-top: 28px;
	margin-bottom: 31px;
}

.choose_btn:hover {
	background-color: #b88b58;
}

/* ---- PREMIUM ---- */

#premium {
	background-color: #ffffff;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.premium h2 {
	padding-top: 60px;
}

.premiumBox {
	margin-top: 29px;
	margin-bottom: 26px;
	display: flex;
}

.premiumBox_img {
	width: 445px;
	height: 378px;
	margin-left: 15px;
	margin-right: 15px;
}

.premiumBoxContent {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 22px;
	margin-bottom: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.premiumBoxContentItem {
	display: flex;
}

.premiumBoxContentItem img {
	width: 34px;
	height: 30px;
	margin-left: 45px;
}

.premiumBoxContentItemText {
	margin-left: 30px;
	margin-right: 95px;
}

.premiumBoxContentItemText h4 {
	color: #242424;
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	margin: 0;
}

.premiumBoxContentItemText p {
	color: #5b5b5b;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
}

.premiumLine {
	width: 1111px;
	height: 1px;
	background-color: #bebebe;
	margin-left: calc(50% - (1111px / 2));
}

.premium .dots {
	margin-top: 37px;
	margin-bottom: 40px;
	text-align: center;
}

.premium .default_btn {
	margin-bottom: 60px;
	margin-left: calc(50% - (194px / 2));
}

/* ---- SOME FACTS ---- */

#someFacts {
	background-color: #000000;
	color: #ffffff;
}

.someFactsBox {
	display: flex;
	margin-top: 57px;
	margin-bottom: 75px;
	text-align: center;
}

.someFactsBoxItem {
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.someFactsBoxItem h4 {
	color: #b88b58;
	font-size: 48px;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
}

.dash {
	width: 21px;
	height: 4px;
	background-color: #7e7e7e;
	margin-left: calc(50% - (21px / 2));
	margin-top: 14px;
	margin-bottom: 8px;
}

.someFactsBoxItem h5 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 17px;
	margin: 0;
}

.someFactsBoxItem p {
	color: #7e7e7e;
	font-size: 12px;
	font-weight: 300;
	line-height: 21px;
	margin: 0;
	margin-top: 22px;
	margin-bottom: 3px;
}

/* ---- TELL ABOUT US ---- */

#tellAboutUs {
	background-color: #fefefe;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.tellAboutUs {
	height: 73px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tellAboutUs img {
	width: 23px;
	height: 25px;
	margin-right: 15px;
}

.tellAboutUsSocialIcons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 425px;
	margin-left: 63px;
}

.tellAboutUsSocialIconsElement {
	display: flex;
	align-items: center;
}

.tellAboutUsSocialIconsElement .social_btn {
	margin: 0;
	margin-right: 5px;
	cursor: auto;
}

.twitter_btn {
	background-color: #34c5f0;
}

.twitter_btn:hover {
	background-color: #34c5f0;
}

.linkedin_btn {
	background-color: #127cb4;
}

.linkedin_btn:hover {
	background-color: #127cb4;
}

.facebook_btn {
	background-color: #336297;
}

.facebook_btn:hover {
	background-color: #336297;
}

.googleplus_btn {
	background-color: #e74237;
}

.googleplus_btn:hover {
	background-color: #e74237;
}

.pinterest_btn {
	background-color: #b71c29;
}

.pinterest_btn:hover {
	background-color: #b71c29;
}


.tellAboutUsSocialIcons p {
	margin: 0;
	color: #aeaeae;
	font-size: 10px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

/* ---- CONTACT US ---- */

#contactUs {
	background-color: #f7f7f7;
}

.contactUs {
	margin:0 auto;
}

.contactUs h2 {
	padding-top: 62px;
}

.contactUsForm {
	margin-top: 29px;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contactUsForm input[type=text] {
	border: none;
	border-bottom: 2px solid #a4a4a4;
	font-size: 13px;
	font-weight: 300;
	line-height: 25px;
	text-transform: uppercase;
	font-family: Montserrat;
	background-color: #f7f7f7;
	
}

.contactUsForm input:nth-child(1) {
	margin-right: 15px;
	margin-top: 46px;
	flex: 0 0 45%;
	
}

.contactUsForm input:nth-child(2) {
	margin-left: 15px;
	margin-top: 46px;
	flex: 0 0 45%;
}

.contactUsForm input:nth-child(3) {
	margin-top: 46px;
	flex: 0 0 100%;
} 

.contactUsForm input:nth-child(4) {
	margin-top: 88px;
	flex: 0 0 100%;
}  

 .contactUsForm input:last-child {
	margin-top: 52px;
	margin-bottom: 76px;
	margin-left: calc(50% - (194px / 2));
}
 
/* ---- MAP ---- */

#map {
	background-image: url(../images/Map/map.png);
	background-position: center center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid #cfcfcf;
}

.mapContent {
	background-color: #ffffff;
	margin-top: 36px;
	margin-bottom: 37px;
	margin-left: 15px;
	padding-left: 40px;
	padding-right: 122px;
	padding-top: 90px;
	padding-bottom: 59px;
}

.mapContent div:last-child {
	margin-bottom: 0;
}

.mapContentItem {
	display: flex;
	align-items: center;
	margin-bottom: 14px;
}


.mapContentItem span {
	width: 35px;
	height: 35px;
	background-color: #aeaeae;
	border-radius: 25px;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mapContentItem p {
	color: #7e7e7e;
	font-size: 12px;
	font-weight: 300;
	line-height: 24px;
	margin: 0;
	margin-left: 17px;
}

.arrowIcon {
	background-image: url(../images/Map/scrollup.png);
	background-position: 16px 21px;
	position: absolute;
	left: 92px;
	bottom: -32.5px;
}

/* ---- FOOTER ---- */

#footer {
	background-color: #000000;
}

.footer {
	display: flex;
	margin-top: 31px;
	margin-bottom: 32px;
}

.footer_btn {
	background-color: #373737;
}

.footerItem {
	padding-right: 15px;
	padding-left: 15px;
}

.footer .footerItem:first-child{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footerItem p {
	color: #7e7e7e;
	font-size: 12px;
	font-weight: 300;
	line-height: 21px;
	margin: 0;
	margin-bottom: 18px;
}

.footer .footerItem:first-child p {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.socialIconsFooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.subscribeForm {
	background-color: #373737;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding-bottom: 46px;
	padding-top: 51px;
	padding-left: 65px;
	padding-right: 65px;
}

.subscribeForm input[type=text] {
	color: #9e9e9e;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 300;
	line-height: 25px;
	text-transform: uppercase;
	border: none;
	border-bottom: 2px solid #a4a4a4;
	background-color: #373737;
	margin-bottom: 28px;
}

.subscribeForm input[type=text]::-moz-placeholder {
	text-align: center;
}

.subscribeForm input[type=text]::-webkit-input-placeholder {
	text-align: center;
}
.subscribeForm input[type=submit] {
	margin-left: calc(50% - (194px / 2));
}