@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

 
* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.clearFix::before, .clearFix::after {
	content: " ";
	display: table;
	}
	
.clearFix::after {
	clear: both;
	}

h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
	margin:0;
	padding-top: 63px;
	padding-bottom: 4px;
	text-align: center;
}

h3 {
	margin: 0;
	color: #aeaeae;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 30px;
	font-weight: 600;
}

.default_btn {
	width: 194px;
	height: 45px;
	background-color: #b88b58;
	border-radius: 25px;
	border: none;
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	cursor: pointer;
}

.dots {
	line-height: 14px;
}

.dot {
    height: 14px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    border: solid 3px #b88b58;
    margin: 0 5px;
    cursor: pointer;
}

.dot:hover {
    background-color: #b88b58;
}

/* ------GRID------ */	
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* ---- NAVBAR ---- */
header {
	width: 100%;
}

.navbar{
	height: 100px;
	background-color: #000000;
}

.navigationBar {
	width: 1140px;
	margin: 0 auto;
}

.navbar .logo {
	width: 50px;
	height: 51px;
	margin: 22px 22px 27px 23px;
}

.navbar .menu {
	list-style-type: none;
	float: right;
	margin: 0;
	padding-right: 15px;
	padding-left: 36px;
	display: flex;
	justify-content: space-between;
}

.navbar .menu li {
	position: relative;
}

.navbar .menu li>a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	line-height: 100px;
}

.menu a:before {
	content: '';
	height: 5px;
	margin: 0;
	padding: 0;
	background-color: #b88b58;
	position: absolute;
	bottom: 0;
	display: none;
	left: -7.5px;
}

a.navItem1:hover:before {
	display: inline-block;
	width: 60.9px;
}

a.navItem2:hover:before {
	display: inline-block;
	width: 91.7px;
}

a.navItem3:hover:before {
	display: inline-block;
	width: 87px;
}

a.navItem4:hover:before {
	display: inline-block;
	width: 128.734px;
}

a.navItem5:hover:before {
	display: inline-block;
	width: 94.25px;
}

a.navItem6:hover:before {
	display: inline-block;
	width: 132.219px;
}

a.navItem7:hover:before {
	display: inline-block;
	width: 59.656px;
}

a.navItem8:hover:before {
	display: inline-block;
	width: 109.281px;
}

a.navItem9:hover:before {
	display: inline-block;
	width: 109.672px;
}

/* ---- JUMBO ---- */

#home {
	width: 100%;
	height: 850px;
	margin: 0 auto;
}

.jumbo {
	position: relative;
	width: 100%;
	height: 850px;
	background-image: url(../images/Home/home-img.jpg);
    background-position: center top;
    background-size: cover;
}

.jumboTextHeader {
	position: absolute;
	top: 337px; 
	left: 0;
	right: 0;
}

.jumboTextHeader h1 {
	font-size: 72px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center; 
	line-height: 69px;
}

.jumboTextHeader span {
	color: #b88b58;
}

.jumboTextCall {
	position: absolute;
	top: 496px; 
	left: 0;
	right: 0;
}

.jumboTextCall h4 {
	margin: 0;
	color: #ffffff;
	font-size: 24px;
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.jumbo .getIn {
	position: absolute;
	top: 563px;
	left: calc(50% - (194px / 2));
}

.telephone {
	position: absolute;
	top: 819px;
	right: 81px;
	width: 65px;
	height: 65px;
	box-shadow: 0 3px 8px rgba(0, 0, 1, 0.24);
	background-color: #b88b58;
	border-radius: 50%;
}

.telephoneIcon {
	width: 40px;
	height: 40px;
	margin: 12px;
}

.jumbo .dots {
	position: absolute;
	top: 794px;
	left: calc(50% - (84px / 2));
}

/* ---- ABOUT US ---- */

#aboutUs {
	background-color: #f7f7f7;
}

.aboutUsContent {
	display: flex;
	margin-top: 42px;
	margin-bottom: 92px;
	justify-content: space-between;
}

.aboutUsText p {
	padding: 0 17px 0 14px;
	color: #242424;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	margin: 0;
}

.aboutUsText button {
	margin-top: 34px;
	margin-left: 15px;
}

.aboutUs img {
	width: 445px;
	height: 275px;
	box-shadow: 0 13px 24px rgba(0, 0, 1, 0.42);
}


/* ---- SERVICES ---- */


#services {
	background-color: #000000;
}

.services h2 {
	color: #ffffff;
}

.servicesContent {
	margin-top: 47px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.verticalLine {
	width: 2px;
	height: 210px;
	background-color: #383838;
	margin-bottom: 43px;
}

.servicesContent img {
	width: 65px;
	height: 66px;
	margin-top: 9px;
}

.servicesContent h4 {
	margin:0;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	padding-top: 38px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}

.servicesContent p {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
	text-transform: none;
	color: #7e7e7e;
	text-align: center;
}


/* ---- OUR PROJECTS ---- */

#ourProjects {
	background-color: #f7f7f7;
}

.ourProjectsMenu {
	margin: 46px auto 38px auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	list-style-type: none;
	width: 710px;
	height: 58px;
	border: 1px solid #cfcfcf;
	border-radius: 25px;
	background-color: #ededed;
}

.ourProjectsMenu li {
	position: relative;
}

/* .ourProjectsMenu li:nth-last-child(n+2):before {
	content: '';
	width: 1px;
	height: 52px;
	background-color: #cfcfcf;
	position: absolute;
	right: -10px;
	margin-top: 2px;
} */

.line {
	width: 1px;
	height: 52px;
	background-color: #cfcfcf;
	margin-top: 2px;
}

.ourProjectsMenu a {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	line-height: 58px;
	text-transform: uppercase;
}

.ourProjectsMenu li:first-child {
	margin-left: 51px;
}

.ourProjectsMenu li:last-child {
	margin-right: 56px;
}

.ourProjectsMenu a:before {
	content: '';
	height: 5px;
	margin: 0;
	padding: 0;
	background-color: #b88b58;
	position: absolute;
	bottom: 0;
	display: none;
	left: -16.571px;
}

a.ourProjectsMenuItem1:hover:before {
	display: inline-block;
	width: 59.392px;
}

a.ourProjectsMenuItem2:hover:before {
	display: inline-block;
	width: 94.001px;
}

a.ourProjectsMenuItem3:hover:before {
	display: inline-block;
	width: 112.939px;
}

a.ourProjectsMenuItem4:hover:before {
	display: inline-block;
	width: 99.236px;
}

a.ourProjectsMenuItem5:hover:before {
	display: inline-block;
	width: 144.345px;
}

a.ourProjectsMenuItem6:hover:before {
	display: inline-block;
	width: 69.22px;
}

.ourProjectsGallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	padding-right: 15px;
	padding-left: 15px;
	
}

.ourProjectsGalleryItem {
	width: 255px;
	height: 165px;
	margin-bottom: 30px;
	position: relative;
}

.ourProjectsGalleryItem .layer, .ourProjectsGalleryItem img {
	position: absolute;
	top: 0;
	left: 0;
}

.ourProjectsGalleryItem .layer {
	width: 255px;
	height: 165px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
	cursor: pointer;
}

.ourProjectsGalleryItem .layer h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 44px;
}

.ourProjectsGalleryItem .layer p {
	font-size: 12px;
	font-weight: 300;
	line-height: 21px;
	margin-left: 36px;
	margin-right: 37px;
}

.ourProjectsGalleryItem:hover .layer{
	visibility: visible;
	opacity: 0.75;
}

.moreProjects_btn {
	margin-bottom: 56px;
	display: inline-block;
	margin-left: calc(50% - (194px / 2));
}

/* ---- OUR TEAM ---- */

#ourTeam {
	background-image: url(../images/Our_Team/bg-image-our-team.jpg);
	background-position: center top;
    background-size: cover;
}

.ourTeamBox {
	display: flex;
	justify-content: space-between;
	margin-top: 34px;
	margin-bottom: 53px;
}

.ourTeamItem {
	margin: 0 15px;
	padding: 0;
	text-align: center;
	background-color: #ffffff;
	border-radius: 5px;
}

.ourTeamItem img {
	width: 183px;
	height: 183px;
	margin-top: 45px;
}

.ourTeamItem h4 {
	color: #242424;
	font-size: 21px;
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 38px;
}

.ourTeamItem p {
	font-size: 14px;
	color: #242424;
	font-weight: 300;
	line-height: 24px;
	margin: 0;
	margin-top: 6px;
}

.socialIcons {
	margin-top: 30px;
	margin-bottom: 43px;
	display: flex;
	justify-content: center;
}

.social_btn {
	width: 33px;
	height: 33px;
	background-color: #bebebe;
	border-radius: 25px;
	border: none;
	margin: 0 3px;
	padding: 0;
	cursor: pointer;
	color: #ffffff;
}

.social_btn:hover {
	background-color: #b88b58;
}

.ourTeam .dots {
	padding-bottom: 43px;
	text-align: center;
}

/* ---- OUR CLIENTS ---- */

#happyClients {
	background-color: #f7f7f7;
}

.happyClients {
	text-align: center;
	color: #000000;
}

.happyClientsImage {
	margin-top: 67px;
}

.happyClients h4 {	
	font-size: 24px;
	font-weight: 700;
	line-height: 18px;
	margin: 24px 0 14px 0;
}

.happyClients h5 {
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
	margin-bottom: 29px;
}

.happyClients p {
	color: #7e7e7e;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	margin-top: 8px; 
	margin-left: calc(50% - (728px / 2));
	margin-right: calc(50% - (728px / 2));
	margin-bottom: 45px;
}

.happyClients .dots {
	margin-bottom: 42px;
}

#clients {
	background-color: #ffffff;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.clientsLogos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 42px;
	margin-top: 34px;
}

.clientsLogos img {
	margin-top: 10px;
	margin-bottom: 10px;
}

.clientsLogos:first-child {
	margin-left: 53px;
}

.clientsLogos:last-child {
	margin-right: 50px;
}

/* ---- PRICE ---- */

#price {
	background-color: #ededed;
}

.price h2 {
	padding-top: 58px;
}

.priceBox {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 37px;
	margin-bottom: 61px;
}

.priceItem {
	margin: 0 15px;
	padding: 0;
	background-color: #ffffff;
	border-radius: 5px;
}

.priceItem h4 {
	margin: 0;
	margin-top: 30px;
	color: #242424;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
}

.priceItem h5 {
	color: #242424;
	font-size: 30px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	letter-spacing: 4.8px;
	margin: 0;
	margin-top: 13px;
}

.priceItem h6 {
	color: #aeaeae;
	font-size: 10px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin: 0;
}

.priceItem p {
	color: #7e7e7e;
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;
	margin: 0;
	margin-top: 13px;
}

.choose_btn {
	width: 129px;
	background-color: #373737;
	margin-top: 28px;
	margin-bottom: 31px;
}

.choose_btn:hover {
	background-color: #b88b58;
}

/* ---- PREMIUM ---- */

#premium {
	background-color: #ffffff;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.premium h2 {
	padding-top: 60px;
}

.premiumBox {
	margin-top: 29px;
	margin-bottom: 26px;
	display: flex;
}

.premiumBox_img {
	width: 445px;
	height: 378px;
	margin-left: 15px;
	margin-right: 15px;
}

.premiumBoxContent {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 22px;
	margin-bottom: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.premiumBoxContentItem {
	display: flex;
}

.premiumBoxContentItem img {
	width: 34px;
	height: 30px;
	margin-left: 45px;
}

.premiumBoxContentItemText {
	margin-left: 30px;
	margin-right: 95px;
}

.premiumBoxContentItemText h4 {
	color: #242424;
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	margin: 0;
}

.premiumBoxContentItemText p {
	color: #5b5b5b;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
}

.premiumLine {
	width: 1111px;
	height: 1px;
	background-color: #bebebe;
	margin-left: calc(50% - (1111px / 2));
}

.premium .dots {
	margin-top: 37px;
	margin-bottom: 40px;
	text-align: center;
}

.premium .default_btn {
	margin-bottom: 60px;
	margin-left: calc(50% - (194px / 2));
}

/* ---- SOME FACTS ---- */

#someFacts {
	background-color: #000000;
	color: #ffffff;
}

.someFactsBox {
	display: flex;
	margin-top: 57px;
	margin-bottom: 75px;
	text-align: center;
}

.someFactsBoxItem {
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.someFactsBoxItem h4 {
	color: #b88b58;
	font-size: 48px;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
}

.dash {
	width: 21px;
	height: 4px;
	background-color: #7e7e7e;
	margin-left: calc(50% - (21px / 2));
	margin-top: 14px;
	margin-bottom: 8px;
}

.someFactsBoxItem h5 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 17px;
	margin: 0;
}

.someFactsBoxItem p {
	color: #7e7e7e;
	font-size: 12px;
	font-weight: 300;
	line-height: 21px;
	margin: 0;
	margin-top: 22px;
	margin-bottom: 3px;
}

/* ---- TELL ABOUT US ---- */

#tellAboutUs {
	background-color: #fefefe;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.tellAboutUs {
	height: 73px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tellAboutUs img {
	width: 23px;
	height: 25px;
	margin-right: 15px;
}

.tellAboutUsSocialIcons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 425px;
	margin-left: 63px;
}

.tellAboutUsSocialIconsElement {
	display: flex;
	align-items: center;
}

.tellAboutUsSocialIconsElement .social_btn {
	margin: 0;
	margin-right: 5px;
	cursor: auto;
}

.twitter_btn {
	background-color: #34c5f0;
}

.twitter_btn:hover {
	background-color: #34c5f0;
}

.linkedin_btn {
	background-color: #127cb4;
}

.linkedin_btn:hover {
	background-color: #127cb4;
}

.facebook_btn {
	background-color: #336297;
}

.facebook_btn:hover {
	background-color: #336297;
}

.googleplus_btn {
	background-color: #e74237;
}

.googleplus_btn:hover {
	background-color: #e74237;
}

.pinterest_btn {
	background-color: #b71c29;
}

.pinterest_btn:hover {
	background-color: #b71c29;
}


.tellAboutUsSocialIcons p {
	margin: 0;
	color: #aeaeae;
	font-size: 10px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

/* ---- CONTACT US ---- */

#contactUs {
	background-color: #f7f7f7;
}

.contactUs {
	margin:0 auto;
}

.contactUs h2 {
	padding-top: 62px;
}

.contactUsForm {
	margin-top: 29px;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contactUsForm input[type=text] {
	border: none;
	border-bottom: 2px solid #a4a4a4;
	font-size: 13px;
	font-weight: 300;
	line-height: 25px;
	text-transform: uppercase;
	font-family: Montserrat;
	background-color: #f7f7f7;
	
}

.contactUsForm input:nth-child(1) {
	margin-right: 15px;
	margin-top: 46px;
	flex: 0 0 45%;
	
}

.contactUsForm input:nth-child(2) {
	margin-left: 15px;
	margin-top: 46px;
	flex: 0 0 45%;
}

.contactUsForm input:nth-child(3) {
	margin-top: 46px;
	flex: 0 0 100%;
} 

.contactUsForm input:nth-child(4) {
	margin-top: 88px;
	flex: 0 0 100%;
}  

 .contactUsForm input:last-child {
	margin-top: 52px;
	margin-bottom: 76px;
	margin-left: calc(50% - (194px / 2));
}
 
/* ---- MAP ---- */

#map {
	background-image: url(../images/Map/map.png);
}